.app.dark{
    /* background-color: #0e0f12e3; */
    background-color: rgb(15 23 42);
    color: rgb(156, 156, 156);

    .CartesianGrid{
        stroke: rgba(228, 228, 228, 0.125);
    }
    .Table{
        background-color:rgb(15 23 42) ;
        .tableCell{
            
            color: rgb(156, 156, 156) ;
        }
    }
    .navbar{
        color: #999;
        border-color:#333;

        .search{
            border-color: grey;
        }
    }
    .sidebar{
        background-color: rgb(15 23 42);
        border-color:#333 ;

       
        hr{
           border-color: #333;
        }
        .center{

            ul{
                li{

                    .icon{
                        color:rgb(14 165 233);
                    }
                    &:hover{
                        background-color:#333;
                    }
                }
            }
        }

    }
    .dataTable{
        .dataGrid{
            color: #999;
            border-color: #333;
                a{

                    .viewButton{
                        color: white;
                        background-color: rgb(227, 124, 170);
                    }
                }
                .deleteButton{
                    color: white;
                    background-color: rgb(14 165 233);
                }
                .cellWithStatus{
                    color: white;
                    background-color: rgb(14 165 233);
                }
        }

        .addNewButton{
            p{
                color:rgb(14 165 233) ;
            }
            .btn{
                button{
                    color: white;
                    background-color: rgb(14 165 233);
                }
            }
        }
    }
}